.search-bar {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 20rem;
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
}

.search-bar input[type="text"] {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    padding: 0.5rem 2rem 0.5rem 30px;
    width: calc(100% - 40px);
}

.search-bar .search-icon {
    color: #a6a4a4;
}

.search-bar.focused .search-icon {
    color: black;
}
